# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
visionenv

.env





!migrations/
migrations/*
!migrations/versions/
migrations/versions/*
!migrations/versions/6054bc4c0814_.py
