<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VISION CLINIC | Patient Management System</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>

    <style>
        .header{
            font-size: 30px;
        }

        .email{
            font-size: 18px;
        }

        .name{
            font-size: 18px
        }
    </style>
</head>

<body class="bg-slate-50">

    <!-- Header -->
    <header class="bg-indigo-950 text-white">
        <div class="max-w-7xl mx-auto px-6 py-5 flex items-center justify-between">

            <!-- Clinic Logo -->
            <div>
                <h1 class="text-2xl font-bold tracking-wide">VISION CLINIC</h1>
                <p class="text-indigo-200 text-sm">Better Health. Better Life.</p>
            </div>

            <!-- Authentication Buttons -->
            <div class="flex items-center gap-3">

            <a href="/login" class="border border-white text-white px-5 py-2 rounded-xl font-medium hover:bg-white hover:text-indigo-950 transition">Login</a>

            <a href="/register" class="bg-white text-indigo-950 px-5 py-2 rounded-xl font-medium hover:bg-indigo-100 transition">Register</a>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="row d-flex justify-content-center align-items-center">
           <div class="col-5 mb-200">
              <h1 class="text-center header">Register form</h1>
             <form action="" method="post">
                <div class="name">
                    <label for="user">Name:</label>
                   <input type="text" class="form-control" placeholder="Enter your name" name="user"> 
                </div>
                <div class="email mt-2">
                    <label for="email">Email:</label>
                   <input type="email" class="form-control" placeholder="Enter your email" name="email"> 
                </div>
                <div class="mt-2">
                   <label for="text">Enter description:</label>
                   <input type="text" class="form-control" placeholder="Enter your description:" name="text"> 
                </div>
                <div class="text-center mt-3">
                   <button class="w-100 bg-indigo-950 text-white rounded py-2">Submit Details</button>
                </div>
             </form> 
           </div> 
        </div>
    </main>

<!-- Footer -->
    <footer class="bg-indigo-950 text-white mt-10">
        <div class="max-w-7xl mx-auto px-6 py-6 text-center">
            <p class="text-sm text-indigo-200">© 2026 VISION CLINIC. All rights reserved.</p>

        </div>
    </footer>

</body>
</html>